body {
  background-color: #183a4a;
}

h1 {
  color: white;
}

.container {
  width: 1200px;
  margin: auto;
  text-align: center;
}

ul.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  width: 150px;
  height: 150px;
  background-color: #3d88ae;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tre {
  background-color: #61d2a4;
}

.cinque {
  background-color: #f9d277;
}

.both {
  background-color: #de5471;
}
